.nav {
    @include flex;
    &-wrapper {
        @include flex;
        .nav-input-search {
            display: none;
        }
    }
    &-item {
        padding-right: 25px;
        font-weight: 600;
    }
}

.nav-item.is-active {
    color: #f44336;
    ;
    text-decoration: underline;
    text-transform: uppercase;
}