footer.footer
	.container
		.footer-wrapper
			.copyrights
				+link("#", "motion")(class= "logo logo-footer")
				span.slogan| Hendcrafted with
				span.icon.icon-heart
			+list("list-social", "icon-facebook", "icon-linkedin", "icon-instagram")

